{% load i18n_extra %}
{% load i18n wagtailcore_tags wagtailimages_tags %}

<div class="col-lg-3 col-md-4 col-sm-6 col-12 d-flex px-02 mb-1 overflow-hidden">
  <a href="{{ event.url|prefix_festival:request }}" class="d-flex w-100 text-decoration-none">
    <article class="event d-flex flex-column"
             style="background-color: {{ event.category.color }}">
      <div class="illustration d-flex justify-content-center align-items-center">
        {% for rendition in event.icon.renditions.all %}
          <img alt="{{ event.icon.title }}" src="{{ rendition.url }}" width="65" height="65" loading="lazy">
        {% endfor %}

      </div>

      <div class="category">
        <div class="name">
          {{ event.category.title }}
        </div>
      </div>

      <div class="content">
        <h3>{{ event.title_translated }}</h3>

        <ul class="speakers">
          {% for speaker in event.speakers_limited.under_limit %}
            <li>
              {{ speaker }}
              {% if forloop.last and event.speakers_limited.over_limit_count %}
                <span title="{{ event.speakers_limited.over_limit_names }}">
                  + {{ event.speakers_limited.over_limit_count }} {% trans "more" %}
                </span>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </div>

      <footer>
        <time class="d-flex align-items-center" datetime="{{ event.date_and_time|date:'c' }}">
          {{ event.date_and_time|date:'j.n.Y' }}
          &nbsp;&mdash;&nbsp;
          {{ event.date_and_time|date:'l'|upper }}
          &nbsp;&mdash;&nbsp;
          {{ event.date_and_time|date:'G:i' }}
        </time>
        <address class="py-2 d-flex align-items-center">
          {{ event.location.title }}
        </address>
      </footer>
    </article>
  </a>
</div>
