{% load i18n wagtailcore_tags %}

<footer class="text-center mt-4">
  <div class="container-fluid my-3">
    <div class="row">
      <div class="col d-flex flex-column my-3">
        <h3>{% trans "Contact" %}</h3>
        <p>
          <a href="mailto:hanusovedni@slh.sk">hanusovedni@slh.sk</a>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col d-flex flex-column my-3">
        <h3>{% trans "Social networks" %}</h3>
        <p>
          <a href="https://www.facebook.com/hanusovednifestival" target="_blank" class="mx-2">
            <i class="fab fa-facebook"></i>
          </a>
          <a href="https://www.instagram.com/hanusovedni/" target="_blank" class="mx-2">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="https://www.facebook.com/spolocenstvo/" target="_blank" class="mx-2">
            <i class="fab fa-facebook"></i> SLH
          </a>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col d-flex flex-column my-3">
        <h3>Choose lanugage</h3>
        <div class="language-switcher">
          <div class="col-12">
            {% get_available_languages as languages %}
            {% for lang_code, lang_name in languages %}
              {% language lang_code %}
                <a href="{% url 'choose-lang' lang_code %}">{{ lang_code|language_name }}</a>
                {% if not forloop.last %}&nbsp;|&nbsp;{% endif %}
              {% endlanguage %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid copy">
    <div class="row">
      <div class="col my-3">
        <p class="mb-2">
          <a href="/bhd/gdpr/">{% trans "Privacy policy" %}</a>
        </p>
        <p>{% trans "The Ladislav Hanus Fellowship" %} &copy; {% now "Y" %}</p>
      </div>
    </div>
  </div>

  <div class="cookie d-flex justify-content-center">
    <div id="cookiesAlert" class="alert alert-secondary alert-dismissible fade show py-1" role="alert">
      <span>{% trans "We use 🍪 cookies" %} :)</span>
      <button type="button" class="close" data-dismiss="alert" aria-label="{% trans "Close" %}">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
</footer>
